<div ng-controller="JiraKanbanController">
  <div class="form-panel" ng-show="showStep(0)">
    <input type="url" ng-model="activeScreenEdit.data.url" placeholder="Jira URL" required>
    <input type="text" ng-model="activeScreenEdit.data.username" placeholder="Jira username">
    <input type="password" ng-model="activeScreenEdit.data.password" placeholder="Jira password">
    <input type="text" ng-model="activeScreenEdit.data.filterId" placeholder="Jira Filter ID" required>
    <input type="text" ng-model="columnCount" placeholder="Number of columns" required>
    <div class="buttons">
      <button ng-click="showColumns(editScreenForm, activeScreenEdit)" class="success">Next</button>
      <button ng-click="cancelEditScreen()" class="cancel">Cancel</button>
    </div>
  </div>
  <div class="form-panel" ng-show="showStep(1)">
    <div class="columns">
      <div class="column" ng-repeat="col in columns"><input type="text" ng-model="col.statuses" placeholder="Statuses eg. In Progress, Done">
      <input type="text" ng-model="col.min" placeholder="Min cards">
      <input type="text" ng-model="col.max" placeholder="Max cards"></div>
    </div>
    <div class="buttons">
      <button ng-click="reset()" class="success">&lt; Prev</button>
      <button ng-click="saveColumns(editScreenForm, activeScreenEdit)" class="success">Save</button>
      <button ng-click="cancelEditScreen()" class="cancel">Cancel</button>
    </div>
  </div>
</div>