<div class="jira-kanban-screen">
	<div class="jira-kanban-board column-count-{{columnCount}} clearfix" id="filter-{{filterId}}">
		{{#columns}}
		<div class="jira-kanban-column {{status}}">
			<ul>
			{{#cards}}
				<li class="kanban-card">
					<h3>{{summary}}</h3>
					{{#assignee}}
					<div class="user">
						<img src="{{userIcon}}">
						<span>{{assignee}}</span>
					</div>
					{{/assignee}}
				</li>
			{{/cards}}
			</ul>
		</div>
		{{/columns}}
	</div>
</div>